<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>twatcher</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/carlos/Code/Go/bin/twatcher</string>
			<string>--feed</string>
			<string>https://your_feed_url</string>
			<string>--filter</string>
			<string>1080p</string>
			<string>--name</string>
			<string>name1</string>
			<string>--name</string>
			<string>name2</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardOutPath</key>
		<string>/Users/carlos/Library/Logs/twatcher-out.log</string>
		<key>StandardErrorPath</key>
		<string>/Users/carlos/Library/Logs/twatcher-err.log</string>
	</dict>
</plist>
